/4. Apache Spark Essential Training - Big Data Engineering/code/includes
/8. Advanced NoSQL for Data Science/Wide Column Database - Cassandra/companies.csv
/8. Advanced NoSQL for Data Science/Wide Column Database - Cassandra/indicators_by_company.csv
